<!DOCTYPE HTML>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title> About US! </title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href="{% static 'css/about.css' %} ">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Merienda:wght@400;700&family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <!--font link-->
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Merienda+One&family=Merienda:wght@400;700&family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class ="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand py-2" href="#" style="font-family: 'Merienda', cursive;">
            <i class="fa fa-pagelines" style="color: aliceblue;padding-top: 7px; font-size: 30px;"></i> <a class="navbar-brand" href="#" style="font-family: 'Merienda', cursive;">tTree</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link pr-3" href="{% url 'Home' %}" style=" font-family: 'Alata', sans-serif;">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link pr-3 " href="#"style=" font-family: 'Alata', sans-serif;">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
   
    <div class =Box>
        <h1 style="text-align: center; font-family: 'Acme', sans-serif;">About US!</h1>
        <form action="" method="post">
         {% csrf_token %}
            <div class="form-group">
                <p>It's an Online buying and selling platform. To sell your own plants or to buy 
                   some trees, our website can be a good option. Or if you have excess plants then you can earn money by selling those plants 
                   as a client. But to be a seller first you need to create an account as a seller. Also, we’ll add some collection of exclusive 
                   plants which can enrich our website. The main objective of this project was to create a user-friendly website by using 
                   different programming languages. There are a lot of benefits as well as difficulties faced in this project. It also 
                   inspired not to stop only with this project rather think for the future and expand the scopes.</p>
            </div>
            <button type="submit" class="btn btn-primary">Read More.</button>
          </form>
        </div> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>